@tailwind base;
@tailwind components;
@tailwind utilities;




.section.footer {
    z-index: 30;
    height: 100vh;
    max-height: 1200px;
    background-color: #0022ff;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10rem;
    padding-bottom: 0;
    display: flex;
  }
  
  .glass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    --tw-bg-opacity: 0.8;
  }
  
  .fastenBottom {
    position: absolute;
    bottom: -93px;
    left: 0px;
    right: 0px;
    width: 100%;
  }
  